dist: bionic
language: crystal
services:
  - mysql
  - postgresql
addons:
  postgresql: "9.4"
  apt:
    sources:
      - travis-ci/sqlite3
    packages:
      - sqlite3
before_script:
  - mysql -e 'create database crecto_test'
  - mysql -Dcrecto_test < spec/migrations/mysql_migrations.sql
  - psql -c 'create database crecto_test;' -U postgres
  - psql $PG_URL < spec/migrations/pg_migrations.sql
  - sqlite3 ./crecto_test.db < spec/migrations/sqlite3_migrations.sql
  - if [ ! -z "$PG_URL" ]; then cp ./spec/travis_pg_repo.cr ./spec/repo.cr; fi
  - if [ ! -z "$MYSQL_URL" ]; then cp ./spec/travis_mysql_repo.cr ./spec/repo.cr; fi
  - if [ ! -z "$SQLITE3_PATH" ]; then cp ./spec/travis_sqlite_repo.cr ./spec/repo.cr; fi
env:
  matrix:
    - PG_URL=postgres://postgres@localhost:5432/crecto_test
    - MYSQL_URL=mysql://root@localhost/crecto_test
    - SQLITE3_PATH=sqlite3://./crecto_test.db
